# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\scala-coursera\scala-project\scala-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
